.fondo{
    height: 625px;
    background-image: url("https://images.unsplash.com/photo-1534361960057-19889db9621e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
    background-size: 1500px 800px;
  }

.title{
  letter-spacing: 4px;
  text-transform: capitalize;
  color: rgb(44, 55, 59) ;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 600px;
  width: 200px;
  height: 50px;
  background-color: rgb(38, 211, 67);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home{
    margin: 0px;
    position: absolute;
    left: 340px;
    top: 300px;
    background-color: #151416;
    border: 2px solid #5cd1b4;
    border-radius: 30px;
    box-shadow: #5cd1b4 4px 4px 0 0;
    color: #49a18b;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.home:hover {
  background-color: #fff;
}

.home:active {
  box-shadow: #5cd1b4 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .home {
    min-width: 120px;
    padding: 0 25px;
  }
}