.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.buttons-pagination-box{
    display: flex;
    justify-content: space-evenly
}

.buttons-pagination{
    width: 200px;
    letter-spacing: 4px;
}

